.btn {
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  border: 0;
  padding: 0 32px;

  background: #835afd;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: filter 0.2s, scale 0.2s, box-shadow 0.2s;

  &:not(:disabled):not(:active):hover {
    filter: brightness(1.1);
    scale: 1.03;
    box-shadow: 0 0px 10px -2px #00000050;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
